<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleHMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <SimpleHMI.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>it-it</value>
      </setting>
      <setting name="LocalDBConnection2" serializeAs="String">
        <value>Data Source=.\Hmi.db;Version=3</value>
      </setting>
      <setting name="LocalDBConnection" serializeAs="String">
        <value>Data Source=(local)\sqlexpress;Initial Catalog=W000323;User ID=sa;Password=T0d3m@!</value>
      </setting>
    </SimpleHMI.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="HMIEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=W000323;user id=sa;password=T0d3m@!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>